@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


.row.projects img.img-fluid
{
    width: 700px;
    height: 220px;
}
.intro img.rounded-circle {
    left: 34%;
    position: relative;
    border-radius: 15% !important;
}

body{
    background-color: #eef4f7;
    font-family: 'Nunito', sans-serif;

}
div#me {
    padding: 20px;
    margin: 20px;
    background: white;
}
.projects .item {
    background-color: white;
    margin: 5px;
}

.col-lg-4{
    max-width: 32% ;
}

p.text-center {
    letter-spacing: 2px;
    margin-top:15px;
}

.row.projects a {
    text-decoration: none;
    box-shadow:0 4px 6px 0 hsla(0,0%,0%,.1);
}
.row.projects a:hover {
    box-shadow:0 4px 6px 0 hsla(0,0%,0%,.2);
}
.box {
    box-shadow:0 4px 6px 0 hsla(0,0%,0%,.1);
}
.box:hover {
    box-shadow:0 4px 6px 0 hsla(0,0%,0%,.2);
}

